<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h4><i class="fas fa-leaf"></i> FreshMart Admin</h4>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a href="/admin/products"><i class="fas fa-box"></i> Products</a>
        </li>
        <li>
            <a href="/admin/add-products"><i class="fas fa-plus"></i> Add Product</a>
        </li>
        <li>
            <a href="/admin/orders"><i class="fas fa-shopping-cart"></i> Orders</a>
        </li>
        <!-- <li>
            <a href="#customers"><i class="fas fa-users"></i> Customers</a>
        </li> -->
    </ul>
</div>
